body {
  margin: 0;
  font-family: Cambria, 'Palatino Linotype', Palatino, Georgia, 'Times New Roman', serif;
  font-size: 15px;
  line-height: 1.55;
  color: #1a1d21;
  background: #f6f7f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
